#fundo-inicio {
	background-image: url("../img/background-1.jpg");
	height: 100%; 
	background-attachment: fixed;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#fundo-inicio2{
	background-image: url("../img/background-2.jpg");
	height: 100%; 
	background-attachment: fixed;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#fundo-inicio3{
	background-image: url("../img/background-3.jpg");
	height: 100%; 
	background-attachment: fixed;	
    background-position: top center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin: 0 auto !important;
    padding-top: 250px;
    position: relative;
}

#fundo-inicio4{
	background-image: url("../img/background-4.jpg");
	height: 100%; 
	background-attachment: fixed;	
    background-position: top center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin: 0 auto !important;
    padding-top: 250px;
    position: relative;
}

#fundo-inicio5{
	background-image: url("../img/background-5.jpg");
	height: 100%; 
	background-attachment: fixed;	
    background-position: top center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin: 0 auto !important;
    padding-top: 250px;
    position: relative;
}
	
	
/* Menu Navbar */

#main {
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 0.5em 1em rgba(0, 0, 0, 0.10);
}

#main::before {
  content: '';
  -webkit-filter: blur(20px);
  filter: blur(20px);
}


/* Menu Navbar Links */

#nav-principal{
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing:2px;
	}
	
#nav-index .nav-link {
color: white !important;
margin-right: 5px;
}

#nav-principal a:hover{
	border-radius: 10px;
	background: rgb(255, 255, 255, 0.1);
}

#nav-principal .btn:hover {
	color: red;
}

.btn:hover{
	border-radius: 10px;
	background: rgb(255, 255, 255, 0.1);
}






/* Carousel */

/*.carousel-item {
  width: 500px;
  max-width: 500px;
  height: 200px;
}*/


/* Carousel effect */

.carousel-caption{
  opacity:1;
  transition:500ms ease-in-out;
}
.carousel-item:hover .carousel-caption{
  opacity:0;
}





/* Fa in effect - Title */


.title-fade {
	  animation: fadeIn ease 5s;
	  -webkit-animation: fadeIn ease 5s;
	  -moz-animation: fadeIn ease 5s;
	  -o-animation: fadeIn ease 5s;
	  -ms-animation: fadeIn ease 5s;
	}
.subtitle-fade {
	  animation: fadeIn ease 8s;
	  -webkit-animation: fadeIn ease 8s;
	  -moz-animation: fadeIn ease 8s;
	  -o-animation: fadeIn ease 8s;
	  -ms-animation: fadeIn ease 8s;
	}
	@keyframes fadeIn {
	  0% {
		opacity:0;
	  }
	  100% {
		opacity:1;
	  }
	}

	@-moz-keyframes fadeIn {
	  0% {
		opacity:0;
	  }
	  100% {
		opacity:1;
	  }
	}

	@-webkit-keyframes fadeIn {
	  0% {
		opacity:0;
	  }
	  100% {
		opacity:1;
	  }
	}

	@-o-keyframes fadeIn {
	  0% {
		opacity:0;
	  }
	  100% {
		opacity:1;
	  }
	}

	@-ms-keyframes fadeIn {
	  0% {
		opacity:0;
	  }
	  100% {
		opacity:1;
	}
}

	
